<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693528374203-1f3af8rumbom4ph07fmjdfrqa9n62lav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693528374203-1f3af8rumbom4ph07fmjdfrqa9n62lav</string>
	<key>API_KEY</key>
	<string>AIzaSyBEdWhYmAg4XMdhK43ZL7Ho5quZtC3e6e4</string>
	<key>GCM_SENDER_ID</key>
	<string>693528374203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bilotcodePraticien</string>
	<key>PROJECT_ID</key>
	<string>bilotcod-8d38b</string>
	<key>STORAGE_BUCKET</key>
	<string>bilotcod-8d38b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693528374203:ios:fcc7bd97be64b475b3f29e</string>
</dict>
</plist>